{% extends 'base.html' %}

{% block title%} Categories {%endblock title%}

{%block content%}
<table>
    <thead>
        <th>Name</th>
        <th>Number of receipts</th>
    </thead>
    <tbody>
        {% for category in category_list %}
        <tr>
            <td>{{category.name}}</td>
            <td>{{category.receipts.all|length}}</td>

        </tr>
        {%endfor%}
    </tbody>
</table>
</main>


{%endblock content%}
